// Place all the styles related to the Public/Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 投稿フォーム
.form{
  padding: 0 10px;
}

.home-footer{
  font-size: 20px;
  display: flex;
}

.article-header{
  font-size: 18px;
}

.article-title{
  font-size: 36px;
}

.article-text{
  background-color: white;
  padding: 40px;
}

.detail-font{
    position: sticky;
    top: calc(56px + 24px + 16px);
    display: flex;
    flex-direction: column;
    padding: 16px;
    font-size: 28px;
}

.bookmarks{
  padding-left: 34px;
  font-size: 24px;
}

