// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TOPページレイアウト
.top-img {
  background-image: image-url('top.png');
  background-position: center;
  height: 800px;
  background-size: cover;
}

.top-visual{
  width: 100%;
  height: 650px;
  text-align: center;
  color: white;
}

.top-title{
  padding-top: 250px;
  font-size: 78px;

}

.top-btn{
   padding-top: 250px;
   text-align: center;
   padding-right: 250px;
}

.top-heading{
  text-align: center;
  padding-top: 90px;
  font-size: 32px;
}

.top-txt{
  padding: 30px;
  text-align: center;
  font-size: 16px;
}

.top-section{
  padding: 30px;
}

// HELPレイアウト
.box{
  
}

.help-title{
  font-size: 32px;
}

.help-txt{
  font-size: 16px;
}

.help-img{
  height: 180px;
  width: 200px;
  float: right;
}

.textbox{
  padding-right: 20px;
}

// トップへ戻るボタン
#back {
  position: fixed;
  right: 20px;
  bottom: 30px;
}
.arrow{
  width:      50px;
  height:     50px;
}


// HOMEのタブ切り替え表示
.tab-area {
  display: flex;
  justify-content: space-around;
  background-color: black;
  cursor: pointer;
  .tab {
    width: 300px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    border-right: 1px solid #50637b;
    border-left: 1px solid #222e3e;
  }
  .tab.active {
    background-color: #ccc;
    color: #222e3e;
    border: none;
  }
}
.content-area {
  font-size: 30px;
  .content {
    display: none;
  }
  .content.show {
    margin-top: 50px;
    display: block;
  }
}