// Place all the styles related to the public/notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification-txt {
  padding-top: 10px;
}

// 通知未確認を知らせるアイコン
.n-circle {
  font-size : 1px;
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

.bellmark{
   position: fixed;
    right: 90px;
    top: 24px;
  font-size: 11px;
}

.checked_bellmark{
  position: fixed;
    right: 90px;
    top: 22px;
}