<div class = "container">
  <h1>使い方ガイド</h1>
  <h2>手順１</h2>
  <p>ログイン後、他の方の投稿を見て、今日から使える仕事術・ノウハウを学ぶ（一覧ページ）</p>
  <h2>手順２</h2>
  <p>職場等で学んだことをそのまま実践する</p>
  <h2>手順３</h2>
  <p>再度記事を見てうまくできていたかチェック！（ブックマーク機能）</p>
  <h2>手順４</h2>
  <p>学んだことをアウトプットして、自身への定着と他者に共有して情報交換</p>

  <h3>
  <% if user_signed_in? %>
    <%= link_to "Topに戻る", home_path, class: "navbar-brand" %>
  <% else %>
    <%= link_to "Topに戻る", root_path, class: "navbar-brand" %>
  <% end %>
  </h3>
</div>