<div class = "title text-center">アプリの使い方</div>
 <div class="py-5">
   <div class="container">
     <div class="row">
       <div class="col-md-7 pt-5">
         <h2 class="pb-4">
           <i class="fas fa-search-plus mr-3"></i>
           記事を探す
         </h2>
         <p class="lead text-muted">
            ブックマーク順や評価順、タグ検索など様々な
           角度から記事を探すことができます。気になる
           記事を元に行動してみましょう。
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag asset_path("search.png", alt: "検索の画像"), class: "help-img-left" %>
      </div>
    </div>
  </div>
</div>

 <div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-7 order-md-2 pt-5">
        <h2 class="pb-4">
          <i class="fas fa-pencil-alt mr-2"></i>
          アウトプットする
        </h2>
        <p class="lead text-muted">
          ブックマーク順や評価順、タグ検索など職場
          でうまくいった仕組みやあなたの仕事のノウ
          ハウを記事として投稿しましょう。たくさん
          記事を投稿するとのランキングに名前が表示
          されます。
        </p>
      </div>
      <div class="col-md-5 order-md-1">
         <%= image_tag asset_path("post.png", alt: "投稿の画像"), class: "help-img-right" %>
      </div>
    </div>
  </div>
</div>

<div class="py-5">
   <div class="container">
     <div class="row">
       <div class="col-md-7 pt-5">
         <h2 class="pb-4">
          <i class="fas fa-folder-plus mr-2"></i>
          記事をストックする
         </h2>
         <p class="lead text-muted">
            記事をブックマークすることで後で読むことが
            できます。ブックマークした投稿をマイページ
           から見ることができます。
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag asset_path("bookmark.png", alt: "栞の画像"), class: "help-img-left" %>
      </div>
    </div>
  </div>
</div>
