<div class = "title text-center">Help</div>
  <div class = "container">
    <div class = "justify-content-start d-flex py-5">
      <div class = "textbox">
        <h1 class = "help-title">
          Step１.<br>
          新規登録から始めよう
        </h1>
        <p class = "help-txt text-muted">
          新規登録をすることで<br>
          TeachMarketの機能を<br>
          お使い頂けます。
        </p>
      </div>
      <div>
        <img src="/assets/sign-up.png" alt="" class ="help-img">
      </div>
    </div>
  </div>
</div>