<div class = "container">
  <div class = "row">
    <div class = "top-visual col-9">
      <h1 class = "top-title">TeachMarket</h1>
      <p>社会人のための仕事術共有SNS</p>
    </div>

    <div class = "col-3">
      <p class = "top-btn">
        <%= link_to "既に会員の方はこちら", new_user_session_path, class:"btn btn-outline-primary btn-sm mb-3 d-flex flex-sm-column" %>
        <%= link_to "今すぐ始めよう", new_user_registration_path, class:"btn btn-outline-success btn-sm mb-3 d-flex flex-sm-column" %>
        <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class:"btn btn-outline-info btn-sm mb-3 d-flex flex-sm-column" %>
      </p>
    </div>
  </div>

  <div class = "display: flex">
    <div class = "top-heading">TeachMarketとは？</div>
    <div class = "top-txt">
      社会に出ると、職種や業界によって様々な仕事があり、多種多様な仕事のやり方があります。</br>
      しかし、学生の頃のように、座って講義や授業を受ける仕組みとは違って、  </br>
      社会人になると、上司から教わったこと以外はすべて自ら勉強しなくてはなりません。  </br>

      「どのようなやり方をすれば、成果が上がるかわからない」  </br>
      「新しく配属された新人をどのように教育すべきか迷っている」  </br>

      そのような悩みを抱えている方に向けて「Teach Market」を作成しました。</br>
    </div>
  </div>

