<div class = "container">
  <h2>本当に退会しますか？</h2>
  <div>
    <p>退会する場合は『退会する』をクリックしてください</p>
  </div>
  <div>
    <%= link_to "退会する", withdraw_user_path(@user), method: :patch%>
    <%= link_to "退会しない", user_path(@user) %>
  </div>
</div>