<% if @article.bookmarked_by?(current_user) %>
  <%= link_to "ブックマークを外す", article_bookmarks_path(@article), method: :delete, remote: true %></td>
<% else %>
  <%= link_to "ブックマーク", article_bookmarks_path(@article), method: :post, remote: true %></td>
<% end %>