<% if article.bookmarked_by?(current_user) %>
    <div class = "d-flex">
      <div><%= link_to "", article_bookmarks_path(article), method: :delete, remote: true, class: "fas fa-bookmark" %></div>
      <div class = "ml-2"><%= article.bookmarks.count %>件</div>
    </div>
<% else %>
   <div class = "d-flex">
      <div><%= link_to "", article_bookmarks_path(article), method: :post, remote: true, class: "far fa-bookmark" %></div>
      <div class = "ml-2"><%= article.bookmarks.count %>件</div>
   </div>
<% end %>