<% if @article.bookmarked_by?(current_user) %>
  <%= link_to "", article_bookmarks_path(@article), method: :delete, remote: true, class: "far fa-bookmark" %></td>
<% else %>
  <%= link_to "", article_bookmarks_path(@article), method: :post, remote: true, class: "fas fa-bookmark" %></td>
<% end %>