
  <div class = "title text-center">Bookmark</div>

    <% @bookmarks.each do |article| %>
      <!--HOME作成後に作成-->
    <% end %>
    <%= link_to "", user_path(current_user), class: "fas fa-arrow-circle-left" %>

