/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require social-share-button
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "social-share-button";


// リセットCSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 16px;
}

body {
  background-image:image-url("top.jpg");
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: 'Roboto', sans-serif;
}

// リンクの色を統一
.link {
  text-decoration: none;
  color: black ;
}


// ページネーションを中央寄せする
.pagination {
  justify-content: center;
}
.pagination>.active>a {
  background: #93c9ff;
}

// 通知未確認を知らせるアイコン
.n-circle {
  font-size : 1px;
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

/*検索窓のエリア*/
 #search-wrap {
   position: absolute;
   top:10px;
   right:10px;
}
