/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require social-share-button
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "social-share-button";


// リセットCSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 16px;
}

body {
  background-image:image-url("top.jpg");
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

// リンクの色を統一
.link {
  text-decoration: none;
  color: black ;
}


// ページネーションを中央寄せする
.pagination {
  justify-content: center;
}
.pagination>.active>a {
  background: #93c9ff;
}

// 通知未確認を知らせるアイコン
.n-circle {
  font-size : 1px;
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}



/*検索窓のエリア*/
 #search-wrap {
     position: absolute;
   z-index: 2;
   top:10px;
   right:10px;
}

// /*テキスト入力input設定*/
// #search-text{
//   -webkit-appearance:none;/*SafariやChromeのデフォルトの設定を無効*/
//   width: 60px;/*テキスト入力エリアが伸びる前の横幅*/
//   height: 60px;
//     padding: 20px;
//   border: none;
//   background-size: 25px 25px;
//   transition: all 0.5s;/*transitionを使ってスムースに伸ばす*/
//   outline: none;
//   cursor: pointer;/*カーソルを指マークに*/
// }

// /*テキスト入力inputにフォーカスした時の形状*/
// #search-text:focus {
//   width: 250px;/*テキスト入力エリアが伸びる後の横幅*/
//   padding: 20px 0 20px 60px;
//   box-shadow: 0 2px rgba(6,0,1,.26);
// }
