<div class="bellmark">
  <%= link_to(notifications_path) do %>
  <% if unchecked_notifications.any? %>
    <span class="fa-stack">
        <i class="far fa-bell fa-lg fa-stack-2x"></i>
        <i class="fas fa-circle n-circle fa-stack-1x"></i>
    </span>
  <% else %>
    <i class="far fa-bell fa-lg"></i>
  <% end %>
<% end %>
</div>
