<h1>通知一覧</h1>
<% if @notifications.exists? %>
  <% @notifications.each do |notification| %>
     <%= render "notifications", notification: notification%>
  <% end %>
  <%= paginate @notifications %>
<% else %>
  <p>通知はありません。</p>
<% end %>