<div class = container>
  <h1 class = "title text-center">通知一覧</h1>
  <% if @notifications.exists? %>
    <% @notifications.each do |notification| %>
       <%= render "notifications", notification: notification %>
    <% end %>
    <%= paginate @notifications %>
  <% else %>
    <h5 class = "text-center py-5">通知はありません。</h5>
  <% end %>
</div>